.body{
	background-color: #000000;
}
div#bodas {
    background-color: rgba(0,123,255,.25);
    padding: 50px;
}

div#Ambientaciones {
    background-color: rgba(0,123,255,.25);
    padding: 50px;
}

img#pandaizq {
    width: 50%;
    float: left;
}

img#pandader {
    width: 50%;
    float: left;
}

h6 {
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: aquamarine;
    padding: 50px;
}

div#Dj {
    background-color: rgba(0,123,255,.25);
    padding: 50px;
}

img.robot3 {
    float: left;
    width: 50%;
}

img.robot {
    float: right;
    width: 50%;
}


